package panel

templ Panel(children ...templ.Component) {
	<div class="h-screen flex flex-col justify-center">
		<div id="current-panel" class="h-[95%] border border-y-4 border-x-2 shadow-2xl bg-orange-50 p-4 mx-auto w-11/12">
			<div id="panel-fade">
				{ children... }
			</div>
		</div>
	</div>
}
