package templates

import "daily-driver/internal/api/art"

templ ComponentArtpiece(art *art.Artwork) {
	<div
		style="animation: fadeIn 1s;"
		class="border p-4 rounded shadow hover:shadow-lg transition duration-300"
	>
		<h2 class="text-xl font-semibold mb-2">{ art.Title }</h2>
		<p class="text-gray-600 mb-4">{ art.ArtistDisplay }</p>
		<img
			src={ art.ImageURL() }
			alt={ art.Title }
			class="w-full h-auto"
		/>
	</div>
}
