package templates

import "daily-driver/web/static/templates/panel"

templ Index() {
	@Base() {
		<div
			id="panel-root"
			hx-target="#current-panel"
			hx-swap="innerHTML"
			hx-get="/panel"
			hx-trigger="load, every 10s"
		></div>
		@panel.PanelManager()
	}
}
