package templates

import "daily-driver/web/static/templates/panel"
import "daily-driver/internal/routes"
import "strconv"
import "fmt"

templ Index() {
	@Base() {
		<div
			id="panel-root"
			hx-target="#current-panel"
			hx-swap="innerHTML"
			hx-get="/panel"
			hx-trigger={ fmt.Sprintf("load, every %ss", strconv.Itoa(routes.PanelRotationIntervalSeconds)) }
		></div>
		@panel.PanelManager()
	}
}
