package templates

import "daily-driver/web/static/templates/panel"

templ Index() {
	@Base() {
		<div
			id="panel-root"
			hx-target="#current-panel"
			hx-swap="outerHTML"
			hx-get="/panel"
			hx-trigger="load, every 5s"
			class="htmx-swapping"
		>
			@panel.Panel() {
				<div id="current-panel" class="h-full"></div>
			}
		</div>
	}
}
